body{
  margin:auto;
  font-size:16px;
  font-weight:500;
  font-family:"Open Sans", Arial, sans-serif;
  line-height:150%
}
h1{
font-weight: 650;
}
img.logo{
height: 39px;
width: auto;
padding-left: 5px;
padding-right: 5px;
display: inline-block
}
img.portrait{
width: 180;
height: auto;
padding-left: 10px;
padding-right: 10px;
padding-top: 25px;
display: inline-block
}
img.mark{
width: 14px;
height: auto;
display: inline-block
}
img.thumbnail{
width: 25%;
height: auto;
display: inline-block
}
.header_content{
padding-top: 3px;
padding-bottom: 3px;
width: 100%;
  min-width: 350px;
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}
.header{
height: 45px;
width: 100%;
background-color: #00693e
}
.container{
padding-top: 0px;
padding-bottom: 0px;
text-align: left
}
.container a:link{
color: #00693e;
text-decoration: none
}
.container a:visited{
color: #424242
}
.content{
  width: 100%;
  min-width: 350px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto
}
.block{
display: block
}
.text{
padding-left: 10px;
padding-right: 10px;
}
.inline_block{
display: inline-block
}
.publication{
display: block;
line-height: 150%;
padding-top: 10px;
padding-bottom: 20px;
text-align: left
}
.publication_text{
vertical-align: top;
width: 71%;
padding-left: 3%
}
.paper_title{
font-weight: 600;
font-size: 115%
}
.author{
font-size: 90%
}
.author a:link{
color: #777777;
font-style: italic;
text-decoration: none
}
.conference{
font-size: 90%;
}
.conference a:link{
color: #000;
text-decoration: none
}
.award{
font-size: 90%;
font-weight: 600;
color: #BB2222
}
.project_link{
font-size: 90%
}
.plain_text{
font-size: 90%
}
.copyright{
padding-top: 30px;
padding-bottom: 15px;
text-align: center;
color: #777777;
font-size: 70%;
}

/* open-sans-regular - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: local('Open Sans Regular'), local('OpenSans-Regular'),
     url('../css/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../css/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
     url('../css/open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../css/open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
